html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.blue-bg {
  background-image: -moz-linear-gradient(to top right, #89ccdc, #167e94);
  background-image: -webkit-linear-gradient(to top right, #89ccdc, #167e94);
  background-image: -ms-linear-gradient(to top right, #89ccdc, #167e94);
  background-image: -o-linear-gradient(to top right, #89ccdc, #167e94);
}

.blue-gradient-top-right-bg {
  background-image: -moz-linear-gradient(to top right, #4bb7ca, #147990);
  background-image: -webkit-linear-gradient(to top right, #4bb7ca, #147990);
  background-image: -ms-linear-gradient(to top right, #4bb7ca, #147990);
  background-image: -o-linear-gradient(to top right, #4bb7ca, #147990);
}

.orange-gradient-down-bg {
  background-image: -moz-linear-gradient(to bottom, #fbb03b, #f7931e);
  background-image: -webkit-linear-gradient(to bottom, #fbb03b, #f7931e);
  background-image: -ms-linear-gradient(to bottom, #fbb03b, #f7931e);
  background-image: -o-linear-gradient(to bottom, #fbb03b, #f7931e);
}

.orange-gradient-top-right-bg {
  background-image: -moz-linear-gradient(to right, #ffcf13 2%, #FF9600 90%);
  background-image: -webkit-linear-gradient(to right, #ffcf13 2%, #FF9600 90%);
  background-image: -ms-linear-gradient(to right, #ffcf13 2%, #FF9600 90%);
  background-image: -o-linear-gradient(to right, #ffcf13 2%, #FF9600 90%);
}

.orange-gradient-top-right-panel {
  background-image: -moz-linear-gradient(to right, #ffb032 80%, #f7931e 90%);
  background-image: -webkit-linear-gradient(to right, #fbb03b 80%, #f7931e 90%);
  background-image: -ms-linear-gradient(to right, #fbb03b 80%, #f7931e 90%);
  background-image: -o-linear-gradient(to right, #fbb03b 80%, #f7931e 90%);
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}

.pink-bg {
  background-color: pink;
}

.green-bg {
  background-color: green;
}

.orange-bg {
  background-color: #ffcf13;
}

.red-bg {
  background-color: red;
}

.white-bg {
  background-color: white;
  z-index: -1;
}

/* ----------------------------- BACKGROUNDS AND GRADIENTS ----------------------------- */

.blue-outline {
  background-color: #fff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 5px solid #147990;
}

.white-panel {
  background-color: #fff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 1px 10px 20px 0px rgba(63, 63, 63, 0.5);
  -moz-box-shadow: 1px 10px 20px 0px rgba(63, 63, 63, 0.5);
  box-shadow: 1px 10px 20px 0px rgba(63, 63, 63, 0.5);
}

#buttonRedirect {
  cursor: pointer;
}

/* ----------------------------- PANELS ----------------------------- */

.text-back {
  -webkit-transform: translateX(-10%);
  transform: translateX(-10%);
  -moz-transform: translateX(-10%);
}

.text-grey {
  color: #4d4d4d;
}

.text-orange {
  color: #ffcf13;
}

.title-section3 {
  font-size: 2.3rem;
  font-weight: bolder;
}

.title-section4 {
  font-size: 1.75rem;
  font-weight: bolder;
}

.text-section3 {
  font-size: 1.5rem;
}

.title {
  font-size: 5rem;
}

.title-secondary {
  font-size: 1.4rem;
  line-height: 1.5rem;
  font-weight: bolder;
}

.text-1rem {
  font-size: 1rem;
}

.text-2rem {
  font-size: 2rem;
}

.text-3rem {
  font-size: 3rem;
}

.text-3-halfrem {
  font-size: 3.5rem;
}

.text-4rem {
  font-size: 4rem;
}

.text-5rem {
  font-size: 5rem;
}

.text-5-halfrem {
  font-size: 5.5rem;
}

.text-6rem {
  font-size: 6rem;
}

.title-nav {
  font-size: 1.3rem;
}

/* ----------------------------- TEXT AND TITLES ----------------------------- */

.form-group {
  width: 65%;
}

.form-group>input {
  background-color: #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 2px solid #ffcf13;
  height: 60px;
  width: 92%;
  margin: auto;
  padding-bottom: 10px;
}

.form-group>label {
  font-size: 1.5rem;
}

.white-panel-form {
  background-color: #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 1px 10px 20px 0px rgba(63, 63, 63, 0.5);
  -moz-box-shadow: 1px 10px 20px 0px rgba(63, 63, 63, 0.5);
  box-shadow: 1px 10px 20px 0px rgba(63, 63, 63, 0.5);
}

.orange-gradient-top-right-form {
  background-image: -moz-linear-gradient(to right, #ffb032 80%, #f7931e 90%);
  background-image: -webkit-linear-gradient(to right, #fbb03b 80%, #f7931e 90%);
  background-image: -ms-linear-gradient(to right, #fbb03b 80%, #f7931e 90%);
  background-image: -o-linear-gradient(to right, #fbb03b 80%, #f7931e 90%);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

/* ----------------------------- FORMS ----------------------------- */

.bee-nurse {
  width: 35%;
  z-index: 1;
  left: 0;
  bottom: 0;
}

.bee-mobile {
  z-index: 1;
  width: 35%;
  right: 0;
}

.icon {
  height: 6rem;
}

.icon-flip {
  -moz-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
}

#form-woman {
  width: 75% !important;
  z-index: 3;
}

.quotes {
  width: 15%;
  height: 15%;
}

.quotes-left {
  left: 1%;
  top: -5%;
}

.quotes-right {
  right: 1%;
  bottom: -5%;
}

.pregnant-woman-img {
  left: 12%;
  bottom: 0;
  height: 100%;
  z-index: 2;
}

#sectionOneTitle {
  z-index: 3;
}

.social-icons {
  width: 70%;
}

.ball-icon {
  background-image: url(../img/ball-img.svg);
}


#ball1 {
  width: 280px;
  height: 280px;
  top: 5%;
  left: -10%;
}

#ball2 {
  width: 100px;
  height: 100px;
  top: 25%;
  left: 18%;
  z-index: 0;
}

#ball3 {
  width: 150px;
  height: 150px;
  top: 55%;
  right: -8%;
  z-index: 0;
}

#ball4 {
  width: 150px;
  height: 150px;
  top: -45%;
  right: 8%;
  z-index: 0;
}

#ball5 {
  width: 40px;
  height: 40px;
  top: 30%;
  right: 8%;
  z-index: 0;
}


#ballBlur1 {
  width: 130px;
  height: 130px;
  top: 42%;
  left: 35%;
  z-index: 4;
  filter: blur(5px);
}

#ballBlur2 {
  width: 400px;
  height: 400px;
  top: 60%;
  left: 30%;
  z-index: 4;
  filter: blur(5px);
}

#ballBlur3 {
  width: 130px;
  height: 130px;
  top: 0;
  right: 30%;
  rotate:
    z-index: 4;
  filter: blur(5px);
}

/* ----------------------------- IMAGES AND ICONS ----------------------------- */

hr.style-hr {
  border: 0;
  width: 85%;
  height: 1px;
  background-image: -webkit-linear-gradient(left,
    #ffffff83,
    #ffffff,
    #ffffff83);
  background-image: -moz-linear-gradient(left, #ffffff83, #ffffff, #ffffff83);
  background-image: -ms-linear-gradient(left, #ffffff83, #ffffff, #ffffff83);
  background-image: -o-linear-gradient(left, #ffffff83, #ffffff, #ffffff83);
}

.no-underline:hover {
  text-decoration: none;
}

/* ----------------------------- MISCELANEOUS ----------------------------- */

.alesand-font {
  font-family: alesand;
}

.myriad {
  font-family: myriad;
}

.silent {
  font-family: silent;
}

.sofia {
  font-family: sofia;
}

.galano-black {
  font-family: galano-black;
}

.galano-medium {
  font-family: galano-medium;
}

.galano-semibold {
  font-family: galano-semibold;
}

/* FONTS */

@font-face {
  font-family: alesand;
  src: url(../fonts/ALESAND\ EXTRA\ ROUND.OTF);
}

@font-face {
  font-family: myriad;
  src: url(../fonts/MYRIADPRO-REGULAR.OTF);
}

@font-face {
  font-family: silent;
  src: url(../fonts/SILENT\ ECHO\ DEMO.OTF);
}

@font-face {
  font-family: sofia;
  src: url(../fonts/SOFIA\ PRO\ REGULAR.TTF);
}

@font-face {
  font-family: galano-black;
  src: url(../fonts/GALANO\ GROTESQUE\ BLACK.OTF);
}

@font-face {
  font-family: galano-medium;
  src: url(../fonts/GALANO\ GROTESQUE\ MEDIUM.OTF);
}

@font-face {
  font-family: galano-semibold;
  src: url(../fonts/GALANO\ GROTESQUE\ SEMI\ BOLD.OTF);
}

/* ------------------------------------ MEDIA QUERIES ------------------------------- */

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (max-width: 1200px) {}

/* Large devices (desktops, 992px and up) */
@media screen and (max-width: 992px) {}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 577px) and (max-width: 900px) {
  .title-secondary {
    font-size: 1rem;
  }

  #navbar {
    padding: 0 !important;
  }

  .bee-mobile {
    z-index: 1;
    width: 55%;
    left: 6%;
  }

  .push-down-section3 {
    height: 250px !important;
  }

  .push-down-section4 {
    height: 145px !important;
  }

  .bee-nurse {
    left: 30% !important;
  }

  .social-icons {
    width: 60% !important;
  }

  .pregnant-woman-img {
    right: auto !important;
    top: auto;
    height: 100%;
    left: -10% !important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 576px) {
  .title-secondary {
    font-size: 0.8rem;
    margin-bottom: 0 !important;
  }

  .text-section3 {
    font-size: 0.8rem;
  }

  .text-5-halfrem {
    font-size: 4rem;
  }

  .text-4rem {
    font-size: 3.5rem;
  }

  .title-nav {
    font-size: 0.8rem !important;
    padding: 0 0.2rem;
    text-align: center !important;
  }

  .push-down-section3 {
    height: 80px !important;
  }

  .bee-mobile {
    z-index: 1;
    width: 55%;
    left: 6%;
  }

  .bee-nurse {
    left: 30% !important;
  }

  .push-down-section4 {
    height: 25px;
  }

  .title-section4,
  .title-section3 {
    font-size: 1rem;
  }

  .pregnant-woman-img {
    right: -10% !important;
    top: 3%;
    height: 50%;
    left: auto !important;
  }

  .social-icons {
    width: 40% !important;
  }

  .white-panel-form {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 100% !important;
    align-content: center;
  }

  .title {
    font-size: 2rem;
  }

  .icon {
    height: 4rem;
  }

  .blue-outline {
    background-color: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 2px solid #147990;
  }

  .white-panel {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }

  .orange-gradient-top-right-panel {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }

  #buttonRedirect h1 {
    font-size: 1.2rem;
  }

  #form-woman {
    width: 100% !important;
  }
}