@media screen and (max-width: 600px) {
    #sectionOneTitle:parent {
        padding: 0 !important;
    }
}



html, body {
    height: 100%;
}

#container {
    height: 100%;
}

#sectionOneTitle {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: calc(100% - 50vh);
}
